.chat {
  min-height: 100vh;
  position: relative;
}
.page-background {
  background: rgba(126, 90, 208, 0.116);
  color: #ececec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.chat::before {
  content: "";
  background-image: url("../assets/chat_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  opacity: 0.38;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .chat::before {
    background-size: 200% auto;
  }
}
