.features {
  margin: 0 20px;
  padding: 24px 0px;
}
.features .features-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  max-width: 470px;
  margin: 0 auto;
  margin-bottom: 80px;
  background: url("../../assets/features-bg.png") no-repeat center;
  background-size: cover;
}

.features .features-title h1 {
  font-size: 3rem;
  line-height: 3.6rem;
  max-width: 450px;
  background: linear-gradient(45deg, #fff, #a8b8ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features .features-title p {
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: #94a3b8;
}
.features .features-card {
  margin: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 991px) {
  .features .features-card {
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .features .features-card {
    margin: 0 50px;
  }
}
@media (max-width: 575px) {
  .features .features-title {
    margin-bottom: 20px;
  }
  .features .features-card {
    margin: 0 20px;
  }
}
@media (max-width: 375px) {
  .features .features-card {
    margin: 0 10px;
  }
}
